
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --additional-text-color: #2196F3;
    --white-tex-color: #FFFFFF;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

img {
    vertical-align: middle;
}

.conteiner{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
/* index.html */
.bodypage {
    background-color: var(--white-tex-color);
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
}

/* header */

.header .nav {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.header-word {
    color: var(--additional-text-color);
}

.header-navigation {
    display: flex;
    margin-left: 93px;
}

.header-navigation .item:not(:last-child) {
    margin-right: 50px;
}

.header-navigation a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.header-navigation a:hover,
.header-navigation a:focus {
    color: var(--additional-text-color);
}

.header-navigation a.current {
    color: var(--additional-text-color);
}

.header-navigation .current {
    color: var(--additional-text-color);
}

.header-navigation.current {
    color: var(--additional-text-color);
}

.header-auth {
    display: flex;
    margin-left: auto;
}

.header-auth .item:not(:last-child) {
    margin-right: 50px;
}

.header-auth a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.header-auth a:hover,
.header-auth a:focus {
    color: var(--additional-text-color);
}
/* main */
/* main hero */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    color: var(--white-tex-color);
    background-color: #2F303A;
    text-align: center;
}

.hero-tittle {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.btn-primary {
    border-radius: 4px;
    border: 0 solid transparent;
    padding: 10px 32px;
    display: inline-block;
    min-width: 200px;

    color: var(--white-tex-color);
    background-color: var(--additional-text-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
    text-align: center;
}

/* наши достоинства */

.features-section {
    padding-top: 90px;
    padding-bottom: 90px;
}

.section-tittle.hide {
    display: none;
}

.features-list {
    display: flex;
}

.features-list>.item:not(:last-child) {
    margin-right: 30px;
}

.features-list .tittle {
    margin-bottom: 10px;
}
.section-title {
    color: var(--primary-text-color);
}

.features .title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features-list .features-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.features-list .features-paragraph {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* что мы делаем */

.section.geom {
    padding-right: auto;
    padding-left: auto;
    padding-bottom: 94px;
}

.section-tittle {
    margin-bottom: 50px;

    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.whatwedo-list {
    display: flex;
    width: calc((100 - 60px) / 3);
}

.whatwedo-list>.item {
    margin-right: 30px;
   
}

.whatwedo-list>.item:last-child {
    margin-right: 0;
}
/* наша команда */

.team-section {
 padding-top: 94px;
 padding-bottom: 94px;
text-align: center;
background-color: #F5F4FA;
}

.team-list {
    display: flex;
}

.team-list>.item {
    width: calc((100% - 90px) / 4);
    border-radius: 0px 0px 4px 4px;

background-color: var(--white-tex-color);
}

.team-list> .item+ .item {
    margin-left: 30px;
}

.team-list .tittle {
    margin-bottom: 10px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-list .paragraph {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.item> .box {
    padding-top: 30px;
    padding-bottom: 30px;
}
/* футер */

.footer-background {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    }
    .footer-logo {
    display: block;
    margin-bottom: 20px;

    color: var(--white-tex-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-word {
    color: var(--additional-text-color)
}

.footer-list .adress {
    color: var(--white-tex-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-list>.item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-list .link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-list a:hover,
.footer-list a:focus {
    color: var(--additional-text-color);
}


/* Portfolio.html */

/* мейн портфолио */

.btn-secondary {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.btn-secondary:hover,
.btn-secondary:focus {
    color: var(--white-tex-color);
    background-color: var(--additional-text-color);
}

.section-list .section-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.section-list .section-paragraph {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

/* футер */

.footer {
    background-color: #2F303A;
}

.footer-logo {
    color:var(--white-tex-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-word {
    color: var(--additional-text-color)
}

.footer-list .address {
    color:#FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-list .link {
    color:#rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text}

.footer-list a:hover,
.footer-list a:focus {
    color: var(--additional-text-color);
}